<!-- ALL UNITS  -->
<div id="all_units" class="allunits" style="display: none;">
<div class="container">
  <a href="#" style="float: right;" onclick="document.getElementById('all_units').style.display='none';">
    <small>close</small>
  </a>
  <h3 class="mt-5"><TMPL_VAR NAME=all_units_label></h3>
  <div class="row mt-5">

    <TMPL_LOOP NAME=all_accreds> 
      <div class="col-md-12">
        <div class="collapse collapse-item show collapse-item-desktop" id="collapse-<TMPL_VAR NAME=id_unite>">
          <div class="row pt-3 pb-4" style="border-bottom: 1px solid #aaaaaa;">
            <div class="col-md-5">
              <p itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                <strong itemprop="name"><TMPL_VAR NAME=hierarchie></strong>
                <br>
                <span itemprop="fonction"><TMPL_VAR NAME=fonction></span>
                <br>
                <span itemprop="status">Statut: <TMPL_VAR NAME=statut></span>
                <br>
              </p>
            </div>
            <div class="col-md-4">
              <TMPL_VAR NAME=adresse>
            </div>
            <div class="col-md-3">
              <TMPL_LOOP NAME=phones>
                <TMPL_UNLESS NAME=phone_hidden>
                <span itemprop="phones">
                  <small><TMPL_VAR NAME=phone_link></small>
                </span>
                <br>
                </TMPL_UNLESS>
              </TMPL_LOOP><!-- phones -->

              <TMPL_IF NAME=rooms>
              <TMPL_LOOP NAME=rooms>
                <TMPL_UNLESS NAME=room_hidden>
                <small>
                  <TMPL_VAR NAME=room_label>: 
                  <a href="https://plan.epfl.ch?room==<TMPL_VAR NAME=room_ref>">
                    <TMPL_VAR NAME=room_name>
                  </a>
                </small>
                <br>
                </TMPL_UNLESS>
              </TMPL_LOOP>
              </TMPL_IF><!-- rooms -->
                    
              <TMPL_LOOP NAME=path_loop>
                <small>
                  <a href="<TMPL_VAR NAME=search_path>">
                    <TMPL_VAR NAME=path>
                  </a> 
                  <TMPL_UNLESS NAME=last>></TMPL_UNLESS>
                </small>
              </TMPL_LOOP><!-- path_loop -->

              <TMPL_IF NAME=room>
              <small>
                <TMPL_VAR NAME=room_label>: 
                <a href="https://plan.epfl.ch?room=<TMPL_VAR NAME=room_ref>">
                  <TMPL_VAR NAME=room>
                </a>
              </small>
              <br>
              </TMPL_IF><!-- room -->              
            </div>                      
          </div>
        </div>
      </div>
    </TMPL_LOOP><!-- all_accreds -->
  </div>
</div>
</div>
