<% unless @boxes['R'].empty? %>
<section id='research_section'>
<h2 class="section_title"><%= t "research" %></h2>
<% @boxes['R'].each do |b| %>
  <% c = sanitize(b.content) %>
  <% if c.present? %>
  <h5><%= b.label %></h5>
  <div><%= c %></div>
  <% end %>
<% end %>
<% end %>
