<h3>Person:</h3>
<pre>
  @accreds.count = <%= @accreds.count %>
<pre>
  <%= @person.to_yaml %>
</pre>
<h3>Profile:</h3>
<pre>
  <%= @profile.to_yaml %>
</pre>
<h3>Accreds:</h3>
<pre>
  <%= @accreds.to_yaml %>
</pre>
