<% fake_breadcrumbs [t("action.edit_profile"), @person.name.display] %>

<p data-controller="hello">ciccio</p>

<%= render "form", profile: @profile %>

<hr>

<section id="awards_section">
<%= turbo_frame_tag "awards_index", src: profile_awards_path(@profile), loading: :lazy do %>
Loading awards... (for demoing purpose, an artificial delay is added)
<% end %>
</section>

<section id="experiences_section">
<%= turbo_frame_tag "experiences_index", src: profile_experiences_path(@profile), loading: :lazy do %>
Loading experiences... (for demoing purpose, an artificial delay is added)
<% end %>
</section>

