# Copy and modify this file to `.env` to have it take effect in development mode.
# 💡 As the `dotenv-rails` gem is disabled in production, you should use actual
# environment variables instead.
#
# Configuration and secrets that will be needed in production too:
#
OIDC_SERVER_URL=http://localhost:8080/realms/rails/

### atela
ATELA_BACKEND_URL=https://atela.epfl.ch/cgi-bin/atela-backend
ATELA_KEY=130ddc82af6e02023f0d01133b366edcb3fb4caf

### isa
ISA_URL=https://isa-test.epfl.ch/services
ISA_NO_CHECK_SSL=1
ORACOURS_PWD="..."

# For Mac+colima only
# echo 'echo $SSH_AUTH_SOCK' | colima ssh
# SSH_AUTH_SOCK_FILE=/tmp/ssh-XXXXEfgLlb/agent.3039

# The default configuration exposes people app and keycloak app on the host
# machine on ports 3000 and 8080 respectively. In this case no other variables
# are needed. 
# Instead, if you prefer to keep the apps within docker and expose them via
# traefik proxy (the Giovanni's way https://github.com/multiscan/dev_traefik),
# then add the following env variables and adjust according to your needs
# DOMAIN=epfl.cz
# PORTEXT=':'
# ADDR=0.0.0.0
# PORT=3000
# KCPORT=8080
# KCPORTEXT=':'
# KCREALM=${DOMAIN}
# RAILS_DEVELOPMENT_HOSTS=people.${DOMAIN}
# CORS_HOSTS="https://keycloak.${DOMAIN}"
# OIDC_SERVER_URL="http://keycloak.${DOMAIN}/realms/rails/"

# Configuration for docker without traefik (ports 8080 and 3000 directly exposed)
ADDR=0.0.0.0
CORS_HOSTS="http://localhost:8080"
WEB_CONSOLE_PERMISSIONS="192.168.0.0/16"
PORTEXT=

# APPENTRY="/app/bin/dev_nojs.sh"
APPENTRY="/app/bin/dev"

