<header role="banner" class="header header-light">
	<div class="header-light-content">
		<a class="logo" href="https://www.epfl.ch">
			<img src="<%= belurl 'icons/epfl-logo.svg' %>" alt="Logo EPFL, Ecole polytechnique fédérale de Lausanne" class="img-fluid">
		</a>
		<h1 class="site-title"><a href="/">ONLINE PEOPLE DIRECTORY</a></h1>
		<!-- language switcher, two elements -->
		<nav class="nav-lang nav-lang-short ml-auto pr-lg-5">
      <ul>
        <%= yield :menu %>
        <%= language_switcher %>
      </ul>
		</nav>
	</div>
</header>
