<% if box.show_title? %>
  <div class="mt-5">
  <h3><%= box.t_title %></h3>
<% end %>
  <%=
    render partial: "#{box.plural_variant}/#{box.plural_variant}", 
           locals: {"#{box.plural_variant}".to_sym => box.visible_items(@audience)}.merge(local_assigns) 
  %>
<% if box.show_title? %>
</div>
<% end %>