<% if @profile.present? && @profile.show_title? %>
  <h1 class="mb-2"><%= @person.name.display %></h1>
  <h3 class="mb-4"><%= @profile.t_title %></h3>
<% else %>
  <h1 class="mb-3"><%= @person.name.display %></h1>
<% end %>
