<TMPL_IF NAME=expertise><!-- EXPERTISE  -->
<div class="cmt-5 mt30">
  <h3><TMPL_VAR NAME=expertise_label></h3>
  <div><TMPL_VAR NAME=expertise></div>
</div>
</TMPL_IF><!-- EXPERTISE -->
                

<TMPL_IF NAME=biography_bloc><!-- BIOGRAPHY -->
<div class="cmt-5 mt30" id="bio-block">
  <div id="biography"></div>                            
  <div class="collapse collapse-partial" id="biography-text" aria-expanded="false">
    <TMPL_LOOP NAME=biography>
      <TMPL_IF NAME=boxcontent>
      <div class="cmt-5 mt30">
        <h3><TMPL_VAR NAME=boxlabel></h3>
        <TMPL_VAR NAME=boxcontent>
      </div>
      </TMPL_IF>
    </TMPL_LOOP>
  </div>
  <button class="collapsed btn btn-light btn-block btn-sm mt-3"data-toggle="collapse"data-target="#biography-text"aria-hidden="true"aria-controls="biography-text"onclick="toggleCollapse('biography');">
    <div id="biography-more_less">Show more</div>
  </button>                       
</div>
</TMPL_IF><!-- BIOGRAPHY -->
                    
<TMPL_IF NAME=parcours><!-- PARCOURS PROF -->
<div class="col-mt5">
  <br>
  <h3><TMPL_VAR NAME=parcours_label></h3>
  <div class="list-group">
    <TMPL_LOOP NAME=parcours>
      <div class="list-group-item list-group-item-borderless education-list">
        <p><strong><TMPL_VAR NAME=title></strong></p>
        <p><TMPL_VAR NAME=field></p>
        <p><TMPL_VAR NAME=univ></p>
        <p><TMPL_VAR NAME=dates></p>
      </div>
    </TMPL_LOOP>
  </div>
</div>
</TMPL_IF><!-- PARCOURS PROF -->


<TMPL_IF NAME=edu><!-- FORMATION        -->
<div class="col-mt5">
  <br>
  <h3><TMPL_VAR NAME=formation_label></h3>
  <div class="list-group">
    <TMPL_LOOP NAME=edu>
      <div class="list-group-item list-group-item-borderless education-list">
        <p><strong><TMPL_VAR NAME=title></strong></p>
        <TMPL_IF NAME=field><p><TMPL_VAR NAME=field></p></TMPL_IF>
        <p><TMPL_VAR NAME=univ></p>
        <p><TMPL_VAR NAME=dates></p>
      </div>
    </TMPL_LOOP>
  </div>
</div>
</TMPL_IF><!-- FORMATION        -->

<TMPL_IF NAME=use_awards>
<TMPL_IF NAME=awards>
<div class="col-mt5">
  <br>
  <h3><TMPL_VAR NAME=awards_label></h3>
  <div class="list-group">
    <TMPL_LOOP NAME=awards>
      <div class="list-group-item list-group-item-borderless education-list">
        <TMPL_IF NAME=url>
        <p>
          <strong>
            <a href="<TMPL_VAR NAME=url>">
              <TMPL_VAR NAME=title>
            </a>
          </strong>
        </p>
        <TMPL_ELSE>
        <p>
          <strong><TMPL_VAR NAME=title></strong>
        </p>
        </TMPL_IF><!-- url -->
        <TMPL_IF NAME=field>
          <p><TMPL_VAR NAME=field></p>
        </TMPL_IF>
        <p><TMPL_VAR NAME=dates></p>
      </div>
    </TMPL_LOOP><!-- awards -->
  </div>
</div>
</TMPL_IF><!-- awards -->
</TMPL_IF><!-- use awards -->
