<TMPL_IF NAME=menubar>
<nav class="nav-tabs-light-wrapper sticky-top" id="intermediate-nav">
  <div class="container">
    <ul class="nav nav-tabs-light">

      <TMPL_IF NAME=biography>
      <li class="nav-item">
        <a class="nav-link active" href="#biography"><TMPL_VAR NAME=biography_label></a>
      </li>
      </TMPL_IF>

      <TMPL_IF NAME=publications>
      <li class="nav-item">
        <a class="nav-link" href="#publications">Publications</a>
      </li>
      </TMPL_IF>

      <TMPL_IF NAME=teachingact>
      <li class="nav-item">
        <a class="nav-link" href="#teaching-and-phd">
          <TMPL_VAR NAME=teachingandphd_label>
        </a>
      </li>
      </TMPL_IF>

      <TMPL_IF NAME=research>
      <li class="nav-item">
        <a class="nav-link" href="#research">
          <TMPL_VAR NAME=research_label/></a>
        </a>
      </li>
      </TMPL_IF>

    </ul>
  </div><!-- container -->
</nav>
</TMPL_IF><!-- menubar -->
