<% @cv.visible_social_ids.each do |si| %>
<div style="width:100%; float:left;">
  <%= image_tag(si.image, style: "height:20px; padding-right: 5px; vertical-align: middle") %>
  <%= link_to(si.label, si.url, target: "_blank") %>
</div>
<% end %>
