 <div id="flash-messages">
  <% flash.each do |type, message| 
    at = case type
    when "notice"
      "info"
    when "alert"
      "warning"
    when "error"
      "danger"
    end
  %>
    <div class="alert alert-<%= at %>" data-controller="flash" role="alert">
      <%= t message %>
      <button type="button" class="close" data-action="flash#dismiss" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
