<header role="banner" class="header header-light">
  <div class="drawer mr-3 mr-xl-0">
    <button class="drawer-toggle">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg>
    </button>
    <a href="/" class="drawer-link"><span class="text">Go to main site</span></a>
  </div>
  <div class="header-light-content"><!-- header content -->
    <a class="logo" href="#">
      <%= image_tag "epfl-elements/dist/svg/epfl-logo.svg", :alt => "Logo EPFL, École polytechnique fédérale de Lausanne", :class => "img-fluid" %>
    </a>
    <h1><%= @title || "Online People Directory" %></h1>

    <!-- TODO make this dynamic -->
    <nav class="nav-lang nav-lang-short ml-auto">
      <ul>
        <li>
          <span class="active" aria-label="Français">FR</span>
        </li>
        <li>
          <a href="#" aria-label="English">EN</a>
        </li>
      </ul>
    </nav>

  </div>
</header>
