<div class="list-group">

<% experiences.each do |experience| %>
<% if sortable %>
<%= render 'experiences/editable_experience', experience: experience %>
<% else %>
<%= render experience %>
<% end %>
<% end %>
</div>