<%= tag.div(class: 'col', id: dom_id(picture)) do %>
  <div class="card">
    <picture class="card-img-top">
      <%= profile_photo(picture, resize_to_limit: [300, 300], alt: 'Avatar image', class: 'img-fluid') %>
    </picture>
    <div class="card-body">
      <%= link_to icon('heart'), set_favorite_picture_profile_path(@profile, picture_id: picture.id), class: "btn btn-primary btn-sm btn-block", method: :patch, data: {turbo_stream: true, turbo_method:'patch'} %>
      <% if picture.camipro? %>
        <span class='visibility'>
          camipro
        </span>
      <% else %>
        <%= link_to icon('trash-2'), picture_path(picture), class: "btn btn-secondary btn-sm btn-block", method: :delete, data: {turbo_stream: true, turbo_method:'delete', turbo_confirm: t('action.confirm')} unless picture.camipro? %>
      <% end %>
    </div>
  </div>
<% end %>
