<div class="my-5">
<% if section.show_title %>
<h2 id="section_#{section.label}"><%= section.title %></h2>
<% end %>
<div class="#{section.label}-content">
<% boxes.each do |box| %>
<%= render partial: 'box', object: box %>
<% end %>
</div>
</div>