// Sassy

@use "sass:map";


@import 'elements/elements';
@import 'elements/vendors';

// helper function used in bootstrap-variables (but undefined therein)
@function theme-color($name) {
  @return map.get($theme-colors, $name);
}
@import 'elements/bootstrap-variables';

@import 'fonts';
@import 'actiontext';

// -----------------------------------------------------------------------------

.audience-selector {
  display: inline-block;
  margin-right: 2em;
}

#flash-messages {
  position: fixed;
  z-index: 99;
  top: 1ex;
  left: 300px;
}

// turbo replacement animation
.turbo-replace-enter {
  animation: fade-in 0.25s ease-out;
}

.turbo-replace-exit {
  animation: fade-out 0.25s ease-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}








.instaform {
  input {
    @extend .form-control
  }

  .custom-radio {
    padding-top: 0.5ex;
  }

  input::placeholder {
    color: #707070;
  }

  .form-errors {
    li {
      color: var(--color-error);
    }
  }

  .form-group {
    display: flex;
    justify-content: flex-start;
  }

  .form-actions {
    display: flex;
    justify-content: flex-center;
  }

  .form-group > label {
    min-width: 15em;
    margin-bottom: 0;
  }
}


