h2.section_title {
	margin-top: 2em;
}

.people-contents {
  padding-top: 1rem;
}

.people-contents h3 {
  margin-top: 1rem;
}

#admin-data dl {
  font-size: 75%;
}
#admin-data h3 {
  font-size: 100%;
  margin-bottom: 0;
}

#edit-action {
  padding-right: 1em;
}

div.inform {
  padding-top: 1ex;
}

.custom-radio {
  padding-top: 20px;
}

.text-icon {
  margin-right: 0.2em;
}

button.close {
  margin-left: 0.5em;
  margin-top: -0.2ex;
}

