<div class="list-group-item list-group-item-borderless education-list">
  <p><strong><%= education.t_title %></strong></p>
  <p><%= education.t_field %></p>
  <p><%= education.school %></p>
  <p><%= education.year %></p>
</div>
