<div class='d-flex flex-wrap justify-content-between align-items-baseline'>
<p id='contact'>
  <% if @person.email %>
  <%= link_to @person.email, "mailto:#{@person.email}", class: "btn btn-sm btn-primary" %>
  <% end %>

  <% if @person.default_phone and @profile.show_phone %>
  <%= phone_link(@person.default_phone.number, class: "btn btn-sm btn-secondary") %>
  <% end %>

  <% if @editable && @profile.personal_web_url? %>
    <%= link_to(@profile.personal_web_url, @profile.personal_web_url, class: "btn btn-sm btn-secondary") %>
  <% end %>
</p>
<p>
  <small>
    <%= link_to "vCard", person_path(format: "vcf") %>
  </small>
</p>
</div>