<!doctype html>
<html>
  <head>
    <title>
      <%= "EPFL - people – Error" %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ff0000">

    <%= stylesheet_link_tag "error" %>
  </head>
  <body>
    <div id="error">
      <%= yield %>
    </div>
  </body>
</html>
